.login-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}
.login {
	padding: 200px 0;
	width: 522px;
	&__form-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		&__btn-box {
			margin-top: 52px;
			button {
				background: #312fd2;
				border-radius: 60px;
				color: #ffffff;
				width: 360px;
				height: 74px;
				font-weight: 700;
				font-size: 28px;
			}
		}
		&__link-box {
			margin-top: 10px;
			width: 360px;
			display: flex;
			justify-content: space-between;
			a {
				color: #666666;
				font-weight: 400;
				font-size: 16px;
			}
		}
	}
}
.mobile {
	display: none;
}
@media all and (max-width: 400px) {
	.mobile {
		display: block;
	}
	.login-wrap {
		background-color: #ebecfb;
		flex-direction: column;
		padding: 100px 60px 285px 60px;
	}
	.logo {
		margin-bottom: 45px;
	}
	.login {
		padding: 0;
		width: 100%;
		&__form-box {
			.show-pw {
				width: 100%;
				text-align: left;
				padding-top: 4px;
				display: flex;
				align-items: center;
				input {
					margin: 0;
					margin-right: 10px;
				}
				label {
					color: #a9a9a9;
					font-weight: 500;
					font-size: 14px;
					line-height: 20px;
				}
			}
			&__btn-box {
				margin-top: 20px;
				width: 100%;
				button {
					width: 100%;
					border-radius: 2px;
					height: 56px;
					font-weight: 700;
					font-size: 20px;
					line-height: 29px;
				}
			}
			&__link-box {
				width: 100%;
				a {
					color: #999999;
					font-weight: 500;
					font-size: 12px;
					line-height: 17px;
				}
			}
		}
	}
}
