.container {
	display: flex;
	flex-direction: column;
	width: 74%;
	background-color: #fff;
	box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.06);
	border-radius: 8px;
	padding: 46px 74px;
}
.tendency-wrap {
	padding: 10px 40px;
}

@media all and (max-width: 480px) {
	.container {
		width: 100%;
		box-shadow: none;
		border-radius: 0;
		padding: 0;
		min-height: calc(800px - 611px + 58px);
	}
	.tendency-wrap {
		padding: 0 30px 28px;
	}
}
