.profile {
	position: relative;
	width: 1228px;
	height: 672px;
	background-color: #f5f8ff;
	display: flex;
	border: 2px solid rgba(175, 176, 187, 0.6);
	border-radius: 20px;
	margin-top: 169px;
	overflow: hidden;
	.photo {
		width: 571px;
		height: 609px;
		margin: 63px 43px 0 39px;
		overflow: hidden;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.right_box {
		display: flex;
		align-items: baseline;
		justify-content: center;
		flex-direction: column;

		.subject {
			color: #8e8e8e;
			font-weight: 700;
			font-size: 36px;
			opacity: 0.8;
			line-height: 52px;
			margin-bottom: 10px;
		}

		.name {
			font-weight: 700;
			font-size: 80px;
			color: #000000;
			margin-bottom: 32px;
			.name_position {
				font-weight: 400;
				font-size: 42px;
				margin-left: 25px;
			}
		}

		.recode_box {
			width: 564px;
			border-radius: 8px;
			background-color: rgba(0, 0, 0, 0.45);
			display: flex;
			flex-direction: column;
			margin: 32px 65px 0 0;

			.recode_content {
				margin: 28px 150px 32px 34px;
				.history {
					background: #ffffff;
					border-radius: 20px;
					width: 132px;
					height: 36px;
					font-weight: 700;
					font-size: 20px;
					letter-spacing: -0.04em;
					line-height: 29px;
					color: #5b5b5b;
					text-align: center;
					padding-top: 3px;
				}
				.recode {
					color: #ffffff;
					text-align: left;
					margin-top: 22px;
					line-height: 34px;
					font-weight: 500;
					font-size: 20px;
				}
			}
		}
	}
}

@media all and (max-width: 400px) {
	.profile {
		margin-top: 48px;
		width: 380px;
		height: 237px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.12);
		.photo {
			width: 164px;
			height: 193px;
			margin: 44px 13px 0 12px;
		}
		.right_box {
			padding-top: 34px;
			margin-bottom: 12px;
			.subject {
				font-size: 12px;
				line-height: 17px;
				margin-bottom: 0;
			}
			.name {
				font-size: 28px;
				line-height: 41px;
				margin-bottom: 0;
				.name_position {
					font-size: 12px;
					line-height: 17px;
					margin-left: 5px;
				}
			}
			.recode_box {
				width: 175px;
				height: 124px;
				border-radius: 16px;
				margin: 12px 0 0;
				.recode_content {
					margin: 12px 5px 10px 13px;
					.history {
						width: 77px;
						height: 21.83px;
						font-size: 12px;
						line-height: 17px;
						padding-top: 0;
					}
					.recode {
						margin-top: 4.73px;
						font-size: 8px;
						height: 76px;
						line-height: 16px;
						word-break: keep-all;
						overflow-y: scroll;
					}
				}
			}
		}
	}
}
