.diagnostic_history {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	table {
		width: 80%;
		margin: 72px 82px;
		text-align: center;
		border: 1px solid #b9b9b9;

		th {
			background: #8382e4;
			border: 1px solid #b9b9b9;
			font-weight: 700;
			font-size: 20px;
			line-height: 130%;
			color: #ffffff;
			width: 50%;
			padding: 23px 23px;
		}
		td {
			font-weight: 400;
			font-size: 20px;
			line-height: 130%;
			padding: 23px 23px;
			border: 1px solid #b9b9b9;
			cursor: pointer;
		}
	}
}

.empty-box {
	text-align: center;
	&__text {
		font-weight: 400;
		font-size: 20px;
		color: #333333;
		p {
			&:first-child {
				margin-bottom: 15px;
			}
		}
	}
	button {
		margin-top: 52px;
		padding: 0;
		background: #312fd2;
		border-radius: 28px;
		width: 250px;
		height: 56px;
		span {
			color: #ffffff;
			font-weight: 700;
			font-size: 20px;
		}
	}
}

@media all and (max-width: 400px) {
	.history {
		padding: 17px 20px 28px;
		min-height: calc(100vh - 219px - 88px);
		&-inner {
			> p {
				color: #999999;
				font-weight: 400;
				font-size: 12px;
				line-height: 17px;
				margin-bottom: 17px;
			}
			ul {
				display: flex;
				flex-direction: column;
				align-items: center;
				li {
					width: 96.1%;
					background: rgba(255, 255, 255, 0.01);
					border: 1px solid #dedede;
					box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.04);
					padding: 10px 16px 11px 10px;
					&.empty {
						height: 60px;
					}
					&:not(&:last-child) {
						margin-bottom: 16px;
					}
					.type {
						display: flex;
						align-items: center;
						margin-bottom: 3px;
						h1 {
							color: #333333;
							font-weight: 700;
							font-size: 16px;
							line-height: 23px;
						}
					}
					.name {
						color: #999999;
						font-weight: 400;
						font-size: 10px;
						line-height: 14px;
						display: inline-block;
						margin-right: 4px;
					}
					.date {
						display: flex;
						justify-content: space-between;
						.left {
							display: flex;
							p {
								color: #333333;
								font-weight: 500;
								font-size: 10px;
								line-height: 14px;
							}
						}
						button {
							color: #999999;
							font-weight: 400;
							font-size: 10px;
							line-height: 14px;
						}
					}
				}
			}
		}
	}
}
