.sidebar {
	margin-top: 50px;
	min-width: 250px;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.sidebar__top {
	display: flex;
	flex-direction: column;
	align-items: center;
	h1 {
		font-weight: 500;
		font-size: 32px;
		margin-bottom: 28px;
	}
	&__info-box {
		background: #ffffff;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 8px;
		padding: 20px 0 40px 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.sidebar__info-box {
	&__img-box {
		position: relative;
		text-align: center;
		margin-bottom: 20px;
		button {
			position: absolute;
			bottom: 0;
			right: 0;
			background-color: #ffffff;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
			border-radius: 100%;
			width: 36px;
			height: 36px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	&__name-box {
		text-align: center;
		h2 {
			color: #333;
			font-weight: 500;
			font-size: 16px;
			margin-bottom: 10px;
			strong {
				font-weight: 700;
				font-size: 22px;
				margin-right: 8px;
			}
		}
		p {
			font-size: 12px;
			font-weight: 500;
			color: #999;
		}
	}
}
.sidebar__gnb {
	margin: 40px 0 160px 0;
	&__depth01 {
		> a {
			margin-bottom: 16px;
			background-color: #fff;
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-radius: 36px;
			color: #666;
			font-weight: 500;
			font-size: 17px;
			width: 180px;
			height: 52px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&.active {
			> a {
				background: #9da9f3;
				color: #fff;
			}
		}
	}
	&__depth02 {
		li {
			padding-left: 20px;
			font-weight: 500;
			margin-bottom: 16px;
			color: #333333;
			font-size: 16px;
			&.active {
				font-weight: 900;
			}
			a {
				width: 100%;
				display: inline-block;
			}
		}
	}
}
.sidebar__bot {
	background: rgba(255, 255, 255, 0.6);
	border-radius: 4px;
	width: 100%;
	padding: 15px 30px;
	h1 {
		font-weight: 400;
		color: #333;
		font-size: 28px;
		margin-bottom: 15px;
		word-break: keep-all;
		strong {
			font-weight: 700;
		}
	}
	&__tel-box {
		p {
			color: #666;
			font-size: 14px;
			font-weight: 400;
			margin-bottom: 6px;
		}
		h2 {
			color: #1d27bc;
			opacity: 0.8;
			font-weight: 700;
			font-size: 30px;
			margin-top: 15px;
		}
	}
}
