.backdrop {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	z-index: 100;
}
.modal {
	background-color: #fff;
	border-radius: 8px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 101;
	min-width: 700px;
	&-wrap {
		margin: 30px;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__close {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 102;
	}
	&__card {
		&-wrap {
			margin-bottom: 50px;
			width: 630px !important;
			display: flex;
			padding: 80px 22px 0 22px;
			align-items: center;
		}
		&__img-box {
			position: relative;
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
			border-radius: 2px;
			padding: 12px;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-right: 40px;
			height: 310px;
			&__img {
				background-color: #a5d7ff;
			}
			&__text-box {
				position: absolute;
				bottom: 20px;
				background-color: #ffffff;
				box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
				border-radius: 2px;
				text-align: center;
				width: 80%;
				padding: 15px 0 10px 0;
				&__text {
					margin-bottom: 20px;
					span {
						color: #1983d8;
						font-weight: 700;
						font-size: 8px;
					}
					h2 {
						font-weight: 700;
						font-size: 12px;
						margin-top: 8px;
					}
					p {
						font-weight: 500;
						font-size: 8px;
						color: #999999;
						margin-top: 6px;
					}
				}
				a {
					text-decoration-line: underline;
					color: #333333;
					font-weight: 500;
					font-size: 8px;
				}
			}
		}
		&__graph-box {
			flex-grow: 1;
			width: 100%;
			h1 {
				color: #333333;
				font-weight: 700;
				font-size: 16px;
				margin-bottom: 20px;
			}
			&__img-box {
				text-align: right;
			}
			&__desc {
				margin-top: 30px;
				p {
					color: #666656;
					font-weight: 400;
					font-size: 12px;
					line-height: 16px;
					// word-break: keep-all;
				}
			}
		}
	}
	&__btns {
		width: 30%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
		.btn {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 36px;
			height: 36px;
			box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
			border-radius: 100%;
		}
	}
}
.pc {
	display: block;
}
.mobile {
	display: none;
}
@media all and (max-width: 480px) {
	.mobile {
		display: block;
	}
	.pc {
		display: none;
	}
	.modal {
		width: 100vw;
		height: 100vh;
		border-radius: 0;
		overflow: auto;
		&-wrap {
			margin: 26px 30px;
		}
		&__close {
			right: 25%;
		}
		&__card {
			&-wrap {
				flex-direction: column;
				width: 300px !important;
				padding: 0;
				margin: 0;
			}
			&__img-box {
				margin-right: 0;
				margin-top: 64px;
				height: 281px;
				padding: 11px;
				&__img {
					padding: 0 12px;
					img {
						width: 158.7px;
						height: 195.11px;
						object-fit: contain;
					}
				}
				&__text-box {
					bottom: 15px;
					padding: 10px;
					&__text {
						margin-bottom: 4px;
						span {
							font-size: 10px;
							line-height: 14px;
						}
						h2 {
							color: #333333;
							font-size: 16px;
							margin-top: 3px;
							line-height: 23px;
						}
						p {
							line-height: 12px;
							margin-top: 2px;
						}
					}
					a {
						line-height: 12px;
					}
				}
			}
			&__graph-box {
				flex-grow: 0;
				margin-top: 32px;
				&__img-box {
					text-align: center;
					img {
						width: 257px;
						height: 169px;
						object-fit: contain;
					}
				}
				&__desc {
					margin: 44px 0 40px 0;
					text-align: center;
					h1 {
						font-weight: 700;
						font-size: 16px;
						line-height: 10px;
						color: #333333;
						margin-bottom: 16px;
					}
					p {
						line-height: 20px;
					}
				}
			}
		}
		&__btns {
			margin-bottom: 14px;
			width: 50%;
			.btn {
				width: 42px;
				height: 42px;
				padding: 0;
				img {
					width: 11px;
					height: 18px;
				}
			}
		}
	}
}
