.join-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	.join {
		padding: 120px 0;
		width: 522px;
	}
}

.join__form-box {
	text-align: center;
	&__email-box {
		position: relative;
		display: flex;
		margin-bottom: 24px;
		button {
			padding: 0;
			min-width: 108px;
			height: 74px;
			font-weight: 500;
			font-size: 20px;
			color: #fff;
			background-color: #7576e1;
			border-radius: 16px;
			margin-left: 15px;
		}
		.usable {
			position: absolute;
			bottom: 5px;
			left: 30px;
			p {
				font-weight: 500;
				font-size: 16px;
				display: flex;
				align-items: center;
				&::before {
					content: '';
					display: block;
					width: 5px;
					height: 5px;
					border-radius: 100%;
					margin-right: 5px;
				}
				&.ok {
					color: #7576e1;
					&::before {
						background-color: #7576e1;
					}
				}
				&.no {
					color: #eb4d3d;
					&::before {
						background-color: #eb4d3d;
					}
				}
			}
		}
	}
	&__btn-box {
		display: flex;
		justify-content: center;
		button {
			width: 360px;
			height: 75px;
			background: #312fd2;
			border-radius: 60px;
			color: #ffffff;
			font-weight: 700;
			font-size: 28px;
		}
	}
}
.mobile {
	display: none;
}
@media all and (max-width: 400px) {
	.mobile {
		display: block;
	}
	.logo {
		margin-bottom: 45px;
	}
	.join-wrap {
		background-color: #ebecfb;
		flex-direction: column;
		padding: 100px 60px 285px 60px;
		.join {
			width: 100%;
			padding: 0;
		}
	}
	.join__form-box {
		&__email-box {
			margin-bottom: 26px;
			button {
				background: #7576e1;
				border: 1px solid #dde0f8;
				border-radius: 2px;
				min-width: 72px;
				height: 52px;
				font-size: 12px;
				line-height: 17px;
				margin-left: 8px;
			}
			.usable {
				bottom: -15px;
				left: 5px;
				p {
					font-weight: 400;
					font-size: 10px;
					line-height: 14px;
					&::before {
						width: 3px;
						height: 3px;
					}
				}
			}
		}
		.show-pw {
			width: 100%;
			text-align: left;
			padding-top: 4px;
			display: flex;
			align-items: center;
			input {
				margin: 0;
				margin-right: 10px;
			}
			label {
				color: #a9a9a9;
				font-weight: 500;
				font-size: 14px;
				line-height: 20px;
			}
		}
		&__btn-box {
			margin-top: 20px;
			button {
				width: 100%;
				border-radius: 2px;
				font-weight: 700;
				font-size: 20px;
				line-height: 29px;
			}
		}
	}
}
