.title-wrap {
	width: 100%;
	height: 991px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-position: center;
}
.title__banner {
	background-repeat: no-repeat;
	width: 509px;
	height: 82px;
	background-position: center;
	background-size: contain;
	display: flex;
	align-items: center;
	justify-content: center;
	p {
		font-weight: 500;
		letter-spacing: -0.04em;
		font-size: 28px;
		color: #ffffff;
	}
}
.title__main {
	margin-left: 300px;
}

.title__btn-box {
	position: relative;
	button {
		width: 468px;
		height: 96px;
		background: linear-gradient(180deg, #e54041 0%, #740202 100%);
		border-radius: 80px;
		font-weight: 500;
		font-size: 32px;
		color: #ffffff;
	}
	img {
		position: absolute;
		width: 51px;
		height: 75px;
		bottom: -35px;
		right: 0;
	}
}
