.title-wrap {
	width: 100%;
	height: 991px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-position: center;
}
.title__banner {
	background-repeat: no-repeat;
	width: 509px;
	height: 82px;
	background-position: center;
	background-size: contain;
	display: flex;
	align-items: center;
	justify-content: center;
	p {
		font-weight: 500;
		letter-spacing: -0.04em;
		font-size: 28px;
		color: #ffffff;
	}
}
.title__main {
	margin-left: 300px;
}

.title__btn-box {
	position: relative;
	button {
		width: 468px;
		height: 96px;
		background: linear-gradient(180deg, #e54041 0%, #740202 100%);
		border-radius: 80px;
		font-weight: 500;
		font-size: 32px;
		color: #ffffff;
	}
	img {
		position: absolute;
		width: 51px;
		height: 75px;
		bottom: -35px;
		right: 0;
	}
}

@media all and (max-width: 400px) {
	.main {
		height: 255px;
		background-repeat: no-repeat;
		background-size: contain;
		&__inner {
			height: 100%;
		}
		&__banner-box {
			padding-top: 37px;
			margin-bottom: 16px;
			&__banner {
				width: 243px;
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
				background-repeat: no-repeat;
				background-size: contain;
				p {
					text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
					font-weight: 500;
					font-size: 13px;
					line-height: 19px;
					color: #333;
					span {
						color: #fff;
					}
				}
			}
		}
		&__title-box {
			text-align: center;
			margin-bottom: 15px;
		}
		&__sub-title-box {
			margin-bottom: 20px;
			&__sub-title {
				height: 33px;
				display: flex;
				align-items: center;
				justify-content: center;
				background-repeat: no-repeat;
				background-size: contain;
				p {
					color: #ffffff;
					opacity: 0.72;
					text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
					font-weight: 500;
					font-size: 13px;
					line-height: 19px;
				}
			}
		}
		&__link-box {
			display: flex;
			justify-content: center;
			a {
				background: linear-gradient(180deg, #e54041 0%, #740202 100%);
				border-radius: 80px;
				width: 138px;
				height: 29px;
				display: flex;
				align-items: center;
				justify-content: center;
				span {
					color: #ffffff;
					font-weight: 500;
					font-size: 10px;
					line-height: 14px;
				}
			}
		}
	}
}
