.ready {
	padding: 162px 324px 103px 351px;
	height: 1220px;
	background-color: #e5faff;
	box-sizing: border-box;
	.container {
		position: relative;
		height: 100%;
		.left_wrap {
			img {
				position: relative;
				left: 50px;
				margin-bottom: 10px;
			}
			.title {
				font-family: 'RixYeoljeongdo_Pro_Regular';
				font-style: normal;
				font-weight: 400;
				font-size: 96px;
				line-height: 113px;
				width: 412px;
				height: 113px;
				color: #312fd2;
			}
			.sub_title {
				// width: 565px;
				// height: 160px;
				font-family: 'Gmarket Sans';
				font-weight: 400;
				font-size: 64px;
				line-height: 80px;
				color: #333333;
				margin-top: 20px;
			}
		}
		.right_wrap {
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
}
