.find__title-box {
	color: #312fd2;
	font-weight: 700;
	font-size: 48px;
	margin: 75px 0 100px 0;
}
.find__form-box {
	width: 522px;
	text-align: center;
	&__email-box {
		display: flex;
		button {
			background: #7576e1;
			border-radius: 20px;
			min-width: 152px;
			height: 74px;
			font-weight: 500;
			font-size: 20px;
			color: #ffffff;
			margin-left: 15px;
		}
	}
	&__pw-box {
		position: relative;
	}
	&__btn-box {
		margin-top: 60px;
		button {
			background: #312fd2;
			border-radius: 60px;
			width: 360px;
			height: 74.67px;
			color: #ffffff;
			font-weight: 700;
			font-size: 28px;
		}
	}
}
