.front_part {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;

	.question {
		display: flex;
		transform: translateX(50px);
		&_number {
			font-family: 'GmarketSansBold';
			font-weight: 500;
			font-size: 28px;
			line-height: 28px;
			letter-spacing: -0.04em;
			color: #312fd2;
		}
		&_sentence {
			font-size: 20px;
			line-height: 29px;
			font-weight: 700;
			letter-spacing: -0.04em;
			color: #333333;
		}
	}
	.textarea_box {
		width: 834px;
		height: 320px;
		background: #f1f1f1;
		border-radius: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translateX(15px);
		margin: 26.5px 0 45px 0;
		transform: translateX(30px);
		textarea {
			width: 796px;
			height: 300px;
			resize: none;
			border: 1px solid #999999;
			border-radius: 2px;
			font-weight: 400;
			font-size: 20px;
			line-height: 29px;
			letter-spacing: -0.04em;
			outline: none;
			padding: 20px;
		}
	}
	p {
		position: absolute;
		font-weight: 400;
		font-size: 16px;
		line-height: 23px;
		text-align: right;
		letter-spacing: -0.04em;
		color: #c9c9c9;
		right: 40px;
		bottom: 70px;
	}
}

@media all and (max-width: 400px) {
	.front_part {
		background: #ffffff;
		border: 1px solid #c9c9c9;
		border-radius: 4px;
		width: 340px;
		min-height: 360px;
		margin: 0 auto 68px;
		padding: 16px;
		.question {
			transform: translateX(0);
			height: 100%;
			&_number {
				color: #aeb6fe;
				font-size: 20px;
				line-height: 20px;
				height: 23px;
				display: inline-block;
				margin-right: 8px;
				padding-top: 5px;
			}
			&_sentence {
				display: flex;
				align-items: flex-start;
				font-weight: 500;
				font-size: 16px;
				word-break: break-all;
				line-height: 23px;
			}
		}
		.textarea_box {
			width: 100%;
			margin: 10.5px 0 0;
			transform: translateX(0);
			background-color: #fff;
			display: block;
			textarea {
				width: 100%;
				height: 320px;
				font-size: 10px;
				line-height: 14px;
				color: #666666;
				padding: 0;
				border: none;
			}
		}
	}
}
