.progress {
	display: flex;
	align-items: center;
	margin-bottom: 70px;
	span {
		color: #666666;
		font-weight: 500;
		font-size: 20px;
		display: inline-block;
		margin-right: 12px;
	}
	&__bar {
		height: 20px;
		background-color: #ebecfb;
		border-radius: 10px;
		width: 100%;
		span {
			width: 13%;
			display: inline-block;
			background-color: #9da9f3;
			height: 20px;
			border-radius: 10px;
		}
	}
}
