.btns {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 15px 0 40px;
	position: relative;
	&__btn {
		button {
			height: 42px;
			padding: 0;
			border-radius: 21px;
			font-weight: 700;
			font-size: 16px;
			&.prev {
				border: 2px solid #dedede;
				width: 80px;
				background-color: #f5f5f5;
				color: #c9c9c9;
			}
			&.next {
				width: 138px;
				background-color: #312fd2;
				color: #ffffff;
			}
		}
		&.prev-box {
			position: absolute;
			left: 0;
		}
	}
}

@media all and (max-width: 400px) {
	.btns {
		background: #ebecfb;
		margin: 0;
		padding: 20px;
		justify-content: baseline;
		&__btn {
			&.prev-box {
				position: relative;
				margin-right: 20px;
			}
			&.next-box {
				flex-grow: 1;
				width: 100%;
			}
			button {
				height: 56px;
				border-radius: 4px;
				&.prev {
					border: 2px solid rgba(201, 201, 201, 0.6);
					width: 100px;
					background: #ffffff;
				}
				&.next {
					width: 240px;
				}
			}
		}
	}
}
