.consulting-wrap {
	padding: 160px 0;
}
.consulting-image-box {
	margin-top: 112px;
	display: flex;
	justify-content: center;
}
@media all and (max-width: 400px) {
	.consulting-wrap {
		padding: 30px 0 54px 0;
	}
	.consulting-image-box {
		margin-top: 60.47px;
		img {
			width: 333px;
			height: 235px;
			object-fit: contain;
		}
	}
}
