.pass-throphy-box {
	width: 100%;
	img {
		width: 100%;
		vertical-align: middle;
	}
}
.pass-answer-box {
	display: flex;
	justify-content: center;
	img {
		margin: 41px 0;
	}
}
@media all and (max-width: 480px) {
	.pass-answer-box {
		img {
			margin: 21px 0;
			width: 264px;
			height: 38px;
			object-fit: cover;
		}
	}
}
