.pass-list-wrap {
	padding: 130px 0;
	position: relative;
}
.pass-list {
	&__btn-box {
		position: absolute;
		right: 81px;
		bottom: 61px;
		button {
			background: #8b8ae6;
			border-radius: 4px;
			width: 152px;
			height: 40px;
			letter-spacing: -0.04em;
			color: #ffffff;
			font-weight: 500;
			font-size: 18px;
		}
	}
	&__navigation {
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		z-index: 1;
		button {
			display: flex;
			width: 84px;
			height: 84px;
			background: #ffffff;
			box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
			border-radius: 100%;
			align-items: center;
			justify-content: center;
		}
		&.pre {
			left: 260px;
			img {
				margin-right: 5px;
			}
		}
		&.next {
			right: 260px;
			img {
				margin-left: 5px;
			}
		}
	}
}
.pass-list__text-box {
	width: 603px;
	margin-left: 50px;
	&__text {
		h1 {
			color: #312fd2;
			font-weight: 700;
			font-size: 32px;
			line-height: 41px;
			margin-bottom: 15px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			width: 480px;
			user-select: none;
		}
		p {
			letter-spacing: -0.04em;
			color: #333333;
			font-weight: 500;
			font-size: 20px;
			margin-bottom: 36px;
			word-break: keep-all;
			line-height: 36px;
			overflow: hidden;
			-webkit-box-orient: vertical;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			user-select: none;
		}
		span {
			color: #999999;
			font-weight: 500;
			font-size: 18px;
			user-select: none;
		}
	}
}

@media all and (max-width: 400px) {
	.pass-list-wrap {
		padding: 60px 0 74px 0;
	}
	.pass-list {
	}
	.mobile {
		text-align: center;
		&__title-box {
			margin-bottom: 16px;
			h1 {
				color: #312fd2;
				font-weight: 700;
				font-size: 18px;
				line-height: 26px;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
		}
		&__text-box {
			display: flex;
			border-top: 1px solid #dedede;
			border-bottom: 1px solid #dedede;
			padding: 19px 0 23px 0;
			img {
				width: 79px;
				height: 82px;
				object-fit: contain;
				margin-right: 12px;
			}
			p {
				color: #666666;
				font-weight: 500;
				font-size: 9px;
				text-align: left;
				line-height: 20px;
				overflow: hidden;
				-webkit-box-orient: vertical;
				display: -webkit-box;
				-webkit-line-clamp: 5;
			}
		}
		&__from {
			display: block;
			width: 100%;
			text-align: right;
			color: #999999;
			font-weight: 500;
			font-size: 10px;
			line-height: 14px;
			margin-top: 8px;
		}
	}
	.pass-list {
		&__navigation {
			button {
				width: 40px;
				height: 40px;
				img {
					width: 9.97px;
					height: 17.35px;
					object-fit: contain;
				}
			}
			&.pre {
				left: 11px;
			}
			&.next {
				right: 11px;
			}
		}
	}
}
