.footer {
	display: flex;
	background: #e0e0e0;
	padding: 55px 19% 66px 19%;
	justify-content: space-between;
	font-weight: 700;
	word-break: keep-all;
	&__left {
		p {
			color: #888;
			line-height: 28px;
			font-size: 16px;
		}
		img {
			margin-top: 12px;
			user-select: none;
		}
	}
	&__right {
		h2 {
			font-size: 20px;
			color: #000000;
			margin-bottom: 24px;
		}
		p {
			font-size: 20px;
			color: #8b8b8b;
			line-height: 28px;
		}
	}
}
