.header {
	.container {
		margin: 0 200px;
		text-align: center;
		.logo {
			// margin-top: 40px;
			padding-top: 40px;
		}
		.menu {
			display: flex;
			justify-content: space-between;
			font-weight: 400;
			font-size: 20px;
			letter-spacing: -0.04em;
			margin-bottom: 20px;
			&__left {
				margin-right: 500px;
				display: flex;
				li {
					margin-right: 10px;
				}
			}
			&__right {
				display: flex;
				li {
					margin-left: 10px;
				}
			}
		}
	}
}
