.main_logo {
	position: absolute;
	width: 436px;
	height: 122px;
	left: 742px;
	top: 40px;
}

.logo {
	width: 100px;
	height: 100px;
	left: 742px;
	top: 52px;
}

.title {
	width: 318px;
	height: 122px;
	left: 860px;
	top: 40px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 800;
	font-size: 104px;
	line-height: 122px;
	/* identical to box height */

	text-align: center;
	letter-spacing: -0.04em;

	color: #01437d;
}
