.main-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__polygon {
		width: 120px;
		height: 140px;
		display: flex;
		justify-content: center;
		align-items: center;
		span {
			font-size: 52px;
			font-weight: 400;
			color: #fff;
			font-family: 'establish_Retrosans';
		}
	}
	&__text-box {
		text-align: center;
		letter-spacing: -0.04em;
		&__title {
			font-family: 'GmarketSansBold';
			color: #000;
			font-size: 60px;
		}
		&__desc {
			font-family: 'GmarketSansBold';
			color: #8b8ae6;
			font-size: 42px;
		}
		&__sub-title {
			font-family: 'GmarketSansBold';
			color: #312fd2;
			font-size: 88px;
		}
	}
}
