.side-bar {
	position: fixed;
	top: 0;
	right: -600px;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: flex-end;
	z-index: 10000;
	transition: all 0.2s ease-in-out;
	&.open {
		right: 0;
	}
	&__back {
		background: rgba(0, 0, 0, 0.6);
		width: 100%;
		height: 100vh;
		position: absolute;
		z-index: 1;
	}
	&__inner {
		width: 94%;
		background-color: #fff;
		padding: 34px 32px 0 34px;
		z-index: 2;
	}
	&__logo {
		text-align: right;
		margin-bottom: 8px;
	}
	&__profile-box {
		display: flex;
		align-items: flex-end;
		margin-bottom: 39px;
		&__img-box {
			position: relative;
			margin-right: 15px;
			button {
				position: absolute;
				bottom: 0;
				left: 60px;
				padding: 0;
				width: 19.46px;
				height: 19.39px;
				display: flex;
				justify-content: center;
				align-items: center;
				background: #ffffff;
				box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
				border-radius: 100%;
			}
		}
		h1 {
			color: #333333;
			font-weight: 500;
			font-size: 16px;
			line-height: 23px;
			strong {
				font-weight: 700;
				font-size: 24px;
				line-height: 35px;
				margin-right: 8px;
			}
		}
	}
	&__list {
		&__depth01 {
			border-top: 1px solid #c9c9c9;
			&:last-child {
				border-bottom: 1px solid #c9c9c9;
			}
			a {
				cursor: pointer;
				display: flex;
				justify-content: space-between;
				padding: 19px 0;
				span {
					color: #333333;
					font-weight: 700;
					font-size: 20px;
					line-height: 29px;
				}
				img {
					object-fit: contain;
					transition: all 0.2s ease-in-out;
					&.rotate {
						transform: rotate(180deg);
					}
				}
			}
		}
		&__depth02 {
			display: none;
			&.open {
				display: block;
			}
			li {
				a {
					color: #666666;
					padding: 0;
					justify-content: flex-start;
					align-items: center;
					font-weight: 500;
					font-size: 16px;
					line-height: 23px;
					margin-bottom: 16px;
					&::before {
						content: '';
						display: block;
						width: 3px;
						height: 3px;
						border-radius: 100%;
						background-color: #333333;
						margin: 0 12px 0 7px;
					}
				}
			}
		}
	}
}
