.expection {
	position: relative;
	background-color: #e8eaf7;
	height: 1480px;
	display: flex;
	justify-content: center;
	align-items: center;

	.container {
		width: 1529px;
		height: 1216px;
		background: #ffffff;
		box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
		border-radius: 48px;
		text-align: center;
		// margin-top: 115px;

		.inner {
			margin-top: 104px;
			.sentence {
				.title {
					color: #ffffff;
					background-color: #312fd2;
					font-weight: 400;
					font-size: 32px;
					padding: 15px 45px 15px 45px;
				}

				.sub_title {
					margin-top: 42px;
					color: #000000;
					font-weight: 700;
					font-size: 68px;
				}

				.answer {
					transform: translate(0, -10px);
					color: #312fd2;
					font-weight: 900;
					font-size: 72px;
				}
			}

			.file_image {
				margin-top: 180px;
			}
			.desc01 {
				position: absolute;
				top: 669px;
				left: 330px;
				font-weight: 900;
				font-size: 32px;
				color: #000000;
			}

			.desc02 {
				position: absolute;
				top: 625px;
				right: 444px;
			}

			.desc03 {
				position: absolute;
				top: 904px;
				left: 348px;
			}

			.desc04 {
				position: absolute;
				top: 1093px;
				right: 421px;
			}
		}
	}
}
