.expection {
	box-sizing: border-box;
	background-color: #e8eaf7;
	height: 1480px;
	display: flex;
	justify-content: center;
	align-items: center;

	.container {
		position: relative;
		width: 1529px;
		height: 1216px;
		background: #ffffff;
		box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
		border-radius: 48px;
		text-align: center;

		.inner {
			margin-top: 104px;
			.sentence {
				.title {
					color: #ffffff;
					background-color: #312fd2;
					font-weight: 400;
					font-size: 32px;
					padding: 15px 45px 15px 45px;
					letter-spacing: -0.04em;
				}

				.sub_title {
					margin-top: 42px;
					color: #000000;
					font-weight: 700;
					font-size: 68px;
					line-height: 98px;
					letter-spacing: -0.04em;
				}

				.answer {
					transform: translate(0, -10px);
					color: #312fd2;
					font-weight: 900;
					font-size: 72px;
					line-height: 104px;
				}
			}
			.bottom {
				.file_image {
					margin-top: 180px;
				}
				.desc01 {
					position: absolute;
					top: 520px;
					left: 128px;
					text-align: left;
					line-height: 46px;
					.paragraph {
						margin-top: 8px;
					}
					p {
						line-height: 26px;
					}
					img {
						position: relative;
						top: -75px;
						left: 195px;
					}
				}

				.desc02 {
					position: absolute;
					top: 480px;
					right: 255px;
					text-align: right;
					line-height: 46px;
					p {
						line-height: 26px;
					}

					.paragraph {
						transform: translate(150px, 0);
						margin-top: 8px;
					}
					img {
						position: relative;
						top: -75px;
						right: 310px;
					}
				}

				.desc03 {
					position: absolute;
					top: 874px;
					left: 146px;
					text-align: left;
					line-height: 46px;
					.paragraph {
						margin-top: 8px;
					}
					p {
						line-height: 26px;
					}
					img {
						position: relative;
						top: -145px;
						left: 133px;
					}
				}

				.desc04 {
					position: absolute;
					top: 938px;
					right: 236px;
					text-align: right;
					line-height: 46px;
					p {
						line-height: 26px;
					}
					.paragraph {
						transform: translate(113px, 0);
						margin-top: 8px;
					}
					img {
						position: relative;
						top: -155px;
						right: 215px;
					}
				}
				p {
					font-weight: 400;
					font-size: 18px;
					color: #999999;
					text-align: left;
				}
				h3 {
					font-weight: 900;
					font-size: 32px;
					color: #000000;
				}
			}
		}
	}
}

@media all and (max-width: 400px) {
	.service {
		&__inner {
			padding: 40px 0 38px 0;
		}
		&__title-box {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 36px;
			&__sub-title {
				background: #312fd2;
				width: 197px;
				height: 30px;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 18px;
				p {
					color: #ffffff;
					font-weight: 400;
					font-size: 12px;
					line-height: 20px;
				}
			}
			h1 {
				font-weight: 700;
				font-size: 28px;
				line-height: 41px;
				span {
					color: #ff0000;
				}
			}
		}
		&__link-box {
			margin: 0 0 21px 16px;
			display: flex;
			align-items: center;
			img {
				margin-right: 8px;
			}
			h2 {
				font-weight: 700;
				font-size: 16px;
				line-height: 23px;
				position: relative;
				&::before {
					content: '';
					display: block;
					width: 34px;
					height: 34px;
					background: #dde0f8;
					opacity: 0.8;
					position: absolute;
					border-radius: 100%;
					left: -22px;
					top: 50%;
					transform: translateY(-50%);
					z-index: -1;
				}
				a {
					color: #312fd2;
					position: relative;
					&::before {
						content: '';
						display: block;
						background-color: #312fd2;
						width: 100%;
						height: 1px;
						position: absolute;
						bottom: 0;
					}
				}
			}
		}
		&__desc-box {
			display: flex;
			justify-content: flex-end;
			&__text-box {
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: end;
				margin-right: 8px;
				margin-top: 40px;
				&::before {
					content: '';
					display: block;
					position: absolute;
					z-index: -1;
					width: 143px;
					height: 143px;
					background: #dde0f8;
					opacity: 0.6;
					border-radius: 100%;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
				p {
					font-weight: 400;
					font-size: 12px;
					line-height: 20px;
				}
			}
		}
	}
}
