.expection {
	box-sizing: border-box;
	background-color: #e8eaf7;
	height: 1480px;
	display: flex;
	justify-content: center;
	align-items: center;

	.container {
		position: relative;
		width: 1529px;
		height: 1216px;
		background: #ffffff;
		box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
		border-radius: 48px;
		text-align: center;

		.inner {
			margin-top: 104px;
			.sentence {
				.title {
					color: #ffffff;
					background-color: #312fd2;
					font-weight: 400;
					font-size: 32px;
					padding: 15px 45px 15px 45px;
				}

				.sub_title {
					margin-top: 42px;
					color: #000000;
					font-weight: 700;
					font-size: 68px;
				}

				.answer {
					transform: translate(0, -10px);
					color: #312fd2;
					font-weight: 900;
					font-size: 72px;
				}
			}
			.bottom {
				.file_image {
					margin-top: 180px;
				}
				.desc01 {
					position: absolute;
					top: 554px;
					left: 128px;
					text-align: left;
					img {
						position: relative;
						top: -75px;
						left: 180px;
					}
				}

				.desc02 {
					position: absolute;
					top: 510px;
					right: 255px;
					text-align: right;

					.paragraph {
						transform: translate(150px, 0);
					}
					img {
						position: relative;
						top: -75px;
						right: 310px;
					}
				}

				.desc03 {
					position: absolute;
					top: 904px;
					left: 146px;
					text-align: left;
					img {
						position: relative;
						top: -145px;
						left: 133px;
					}
				}

				.desc04 {
					position: absolute;
					top: 978px;
					right: 232px;
					text-align: right;
					.paragraph {
						transform: translate(113px, 0);
					}
					img {
						position: relative;
						top: -155px;
						right: 215px;
					}
				}
				p {
					font-weight: 400;
					font-size: 18px;
					color: #999999;
					text-align: left;
				}
				h3 {
					font-weight: 900;
					font-size: 32px;
					color: #000000;
				}
			}
		}
	}
}
