@charset "utf-8";

/*** tag_definition ***/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Open+Sans&display=swap');
@import url('https://fonts.cdnfonts.com/css/current');
body,
th,
td,
input,
select,
textarea,
button,
* {
	font-family: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', sans-serif, '돋움', 'Dotum', '굴림', 'Gulim';
}

@font-face {
	font-family: 'ROKAFSlabSerifBold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSlabSerifBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'establish_Retrosans';
	src: url('@/assets/styles/font/establish_Retrosans.ttf');
}

@font-face {
	font-family: 'GmarketSansBold';
	src: url('@/assets/styles/font/GmarketSansTTFBold.ttf');
}
@font-face {
	font-family: 'GmarketSansLight';
	src: url('@/assets/styles/font/GmarketSansTTFLight.ttf');
}
@font-face {
	font-family: 'GmarketSansMedium';
	src: url('@/assets/styles/font/GmarketSansTTFMedium.ttf');
}
@font-face {
	font-family: 'RixYeoljeongdo_Pro_Regular';
	src: url('@/assets/styles/font/RixYeoljeongdo_Pro_Regular.ttf');
}

.font_current {
	font-family: 'Current', sans-serif !important;
}
