.page-wrap {
	width: 100%;
	padding: 40px 0;
	display: flex;
	justify-content: center;
	min-height: calc(100vh - 262px - 234px);
}
.page__container {
	background-color: rgba(221, 224, 248, 0.6);
	width: 80%;
	padding: 40px 108px 44px 58px;
	display: flex;
	justify-content: space-between;
}

@media all and (max-width: 401px) {
	.page-wrap {
		padding: 0;
		padding-top: 8px;
		background-color: #ebecfb;
	}
	.page__container {
		width: 100%;
		background: #ffffff;
		// background-color: #ebecfb;
		padding: 0;
	}
}
